@page "/orderdetails/{userId}"
@using Blazored.LocalStorage
@using Tangy_DataAccess
@inject IOrderSerivce _order
@inject ILocalStorageService _localStorage
@inject IOrderSerivce _orderService
@inject NavigationManager _navi
<style>
    .btn {
        padding: 4px 15px;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s, transform 0.5s;
        margin-left: 7px;
        margin-top: -5px;
    }
</style>
@if (Order == null || !Order.Any())
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="image/ajax-loader.gif" />
    </div>
}
else
{
    <div class="body-detail">
        <div class="intro-product">
            <img src="/image/Product-gachchan.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="text-intro">
                    <a class="nav-a-intro hover-a" href="/">Trang Chủ</a>
                    <img src="/image/product-img-gachdung.png" alt="">
                    <a class="nav-a-intro" href="">Sản Phẩm</a>
                </div>
            </div>

            @foreach (var orderDTO in Order)
            {
                @foreach (var orderDetailDTO in orderDTO.OrderDetails)
                {
            <div class="row">
                <div class="content-product">
                    <div class="content-intro">
                        <h5>BỘT RAU CỦ SẤY LẠNH</h5>
                        <a href="product" class="btn btn-success">Xem thêm sản phẩm</a>
                    </div>
                    <div class="status-product">
                        <h5>Tình trạng giao hàng:</h5>
                                <p>@orderDTO.OrderHeader.Status</p>
                    </div>
                </div>

            </div>
            <img class="w-100" src="/image/gachnganglichsu.png" alt="">
            
            <div class="row">
                <div class="product-history">
                            @if (orderDetailDTO.Product != null)
                            {
                                <img class="w-18" src="https://localhost:7178/@orderDetailDTO.Product.ImageUrl" alt="" />
                            }
                            else
                            {
                                <!-- Thêm một hình ảnh mặc định hoặc thông báo lỗi -->
                                <p>Hình ảnh không có sẵn</p>
                            }
                    <div class="text-history">
                                <p class="name">@orderDetailDTO.ProductName</p>
                        <p class="category">
                                    Phân loại: Hộp giấy
                        </p>
                                <p class="quantity">x @orderDetailDTO.Count</p>
                                <p class="price">@orderDetailDTO.Price VNĐ</p>
                    </div>
                </div>
            </div>
    

            <div class="container mt-5">
                <table class="table custom-table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Ngày đặt hàng</th>
                            <th scope="col">Mã đơn hàng</th>
                            <th class="diachi" scope="col">Địa chỉ giao hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dữ liệu của bạn sẽ được thêm vào đây -->
                        <tr>
                                <td>@orderDTO.OrderHeader.OrderDate</td>
                                <td>@orderDTO.OrderHeader.Id</td>
                                <td>@orderDTO.OrderHeader.StreetAddress, @orderDTO.OrderHeader.City</td>
                        </tr>

                        <!-- Thêm các dòng khác nếu cần -->
                    </tbody>
                </table>
                <div class="totalprice">
                        <p class="tong">Tổng: @orderDTO.OrderHeader.OderTotal VNĐ</p>
                    <p class="ship">Phí ship: 0 VNĐ</p>
                </div>
                <img class="w-100" src="/image/gachnganglichsu.png" alt="">
                <div class="thanhtien">
                        <p class="thanhtien-price">Thành tiền: <span class="price-span">@orderDTO.OrderHeader.OderTotal VNĐ</span></p>
                </div>

                <div class="voucher">
                        <p>Đánh giá và nhận voucher trước @orderDTO.OrderHeader.OrderDate</p>
                    <div class="xemlai">
                            <a href="#" class="btn-danhgia" style="text-decoration:none;">Đánh giá</a>
                        <a href="product" class="btn-mualai" style="text-decoration:none;">Mua lại</a>

                    </div>
                </div>
            </div>
            }
            }
        </div>


    </div>




    <Footer></Footer>
    }
@code {
    private List<OrderDTO> Order { get; set; } = new List<OrderDTO>();
    [Parameter]
    public string userId { get; set; }

    protected override async Task OnInitializedAsync()
    {
      
        try
        {
           Order = await _order.GetUserOrder(userId);
        }
        catch (Exception ex)
        {
            // Handle exceptions, log, or display an error message.
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }
}